<div class="container">
  <header class="container__header">
    <app-aside-bar></app-aside-bar>
    <app-header-mobile></app-header-mobile>
  </header>

  <main class="container__main">
    <div class="container__hero">
      <h1 class="container__title-hero heading-secondary">
        Conteúdos da semana
      </h1>
      <app-card-main></app-card-main>
    </div>
    <h2 class="container__title-parcial heading-secondary">
      Veja a parcial de sua semana
    </h2>

    <app-card-progress></app-card-progress>

    <h3 class="container__title-footer heading-quaternary">
      Acessar o painel de métrica &gt;
    </h3>

    <app-modal-light-mode></app-modal-light-mode>
    <app-modal-products></app-modal-products>
    <app-todo-list></app-todo-list>
  </main>
</div>
