.heading-primary {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  vertical-align: middle;
  color: var(--med-color-neutral-10);
}

.heading-secondary {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  vertical-align: middle;
  color: var(--med-color-neutral-10);
}
.heading-tertiary {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  vertical-align: middle;
  color: var(--med-color-neutral-10);
}

.heading-quaternary {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  vertical-align: middle;
  color: var(--med-color-neutral-10);
}

.descriptions-small {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
